<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="aluno">
            <h2><span jhiTranslate="blogApp.aluno.detail.title">Aluno</span> {{aluno.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="blogApp.aluno.codigo">Codigo</span></dt>
                <dd>
                    <span>{{aluno.codigo}}</span>
                </dd>
                <dt><span jhiTranslate="blogApp.aluno.descricao">Descricao</span></dt>
                <dd>
                    <span>{{aluno.descricao}}</span>
                </dd>
                <dt><span jhiTranslate="blogApp.aluno.pessoa">Pessoa</span></dt>
                <dd>
                    <div *ngIf="aluno.pessoa">
                        <a [routerLink]="['/pessoa', aluno.pessoa?.id, 'view']">{{aluno.pessoa?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="blogApp.aluno.turma">Turma</span></dt>
                <dd>
                    <div *ngIf="aluno.turma">
                        <a [routerLink]="['/turma', aluno.turma?.id, 'view']">{{aluno.turma?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="blogApp.aluno.entrega">Entrega</span></dt>
                <dd>
                    <div *ngIf="aluno.entrega">
                        <a [routerLink]="['/entrega', aluno.entrega?.id, 'view']">{{aluno.entrega?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/aluno', aluno.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
