<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-professor-heading" jhiTranslate="blogApp.professor.home.createOrEditLabel">Create or edit a Professor</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!professor.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="professor.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blogApp.professor.codigo" for="field_codigo">Codigo</label>
                    <input type="number" class="form-control" name="codigo" id="field_codigo"
                        [(ngModel)]="professor.codigo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blogApp.professor.descricao" for="field_descricao">Descricao</label>
                    <input type="text" class="form-control" name="descricao" id="field_descricao"
                        [(ngModel)]="professor.descricao" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blogApp.professor.pessoa" for="field_pessoa">Pessoa</label>
                    <select class="form-control" id="field_pessoa" name="pessoa" [(ngModel)]="professor.pessoa">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pessoaOption.id === professor.pessoa?.id ? professor.pessoa : pessoaOption" *ngFor="let pessoaOption of pessoas; trackBy: trackPessoaById">{{pessoaOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
