<div>
    <h2 id="page-heading">
        <span jhiTranslate="blogApp.periodoLetivo.home.title">Periodo Letivos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-periodo-letivo" [routerLink]="['/periodo-letivo/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="blogApp.periodoLetivo.home.createLabel">
            Create new Periodo Letivo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="periodoLetivos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="blogApp.periodoLetivo.codigo">Codigo</span></th>
            <th><span jhiTranslate="blogApp.periodoLetivo.descricao">Descricao</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let periodoLetivo of periodoLetivos ;trackBy: trackId">
                <td><a [routerLink]="['/periodo-letivo', periodoLetivo.id, 'view' ]">{{periodoLetivo.id}}</a></td>
                <td>{{periodoLetivo.codigo}}</td>
                <td>{{periodoLetivo.descricao}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/periodo-letivo', periodoLetivo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/periodo-letivo', periodoLetivo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'periodo-letivo/'+ periodoLetivo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
