<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-disciplina-heading" jhiTranslate="blogApp.disciplina.home.createOrEditLabel">Create or edit a Disciplina</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!disciplina.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="disciplina.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blogApp.disciplina.codigo" for="field_codigo">Codigo</label>
                    <input type="number" class="form-control" name="codigo" id="field_codigo"
                        [(ngModel)]="disciplina.codigo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blogApp.disciplina.descricao" for="field_descricao">Descricao</label>
                    <input type="text" class="form-control" name="descricao" id="field_descricao"
                        [(ngModel)]="disciplina.descricao" />
                </div>

                <div class="form-group">
                    <label jhiTranslate="blogApp.disciplina.professor" for="field_professor">Professor</label>
                    <select class="form-control" id="field_professor" multiple name="professor" [(ngModel)]="disciplina.professors">
                        <option [ngValue]="getSelected(disciplina.professors, professorOption)" *ngFor="let professorOption of professors; trackBy: trackProfessorById">{{professorOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
