<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="falta">
            <h2><span jhiTranslate="blogApp.falta.detail.title">Falta</span> {{falta.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="blogApp.falta.codigo">Codigo</span></dt>
                <dd>
                    <span>{{falta.codigo}}</span>
                </dd>
                <dt><span jhiTranslate="blogApp.falta.descricao">Descricao</span></dt>
                <dd>
                    <span>{{falta.descricao}}</span>
                </dd>
                <dt><span jhiTranslate="blogApp.falta.aluno">Aluno</span></dt>
                <dd>
                    <div *ngIf="falta.aluno">
                        <a [routerLink]="['/aluno', falta.aluno?.id, 'view']">{{falta.aluno?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="blogApp.falta.periodoLetivo">Periodo Letivo</span></dt>
                <dd>
                    <div *ngIf="falta.periodoLetivo">
                        <a [routerLink]="['/periodo-letivo', falta.periodoLetivo?.id, 'view']">{{falta.periodoLetivo?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/falta', falta.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
